@font-face{
	font-family: Pacific;
	src:url(fuentes/Pacifico-Regular.ttf);
}
@font-face{
	font-family: Glass;
	src:url(fuentes/GlassAntiqua-Regular.ttf);
}
@font-face{
	font-family: aqua;
	src:url(fuentes/aqua.ttf);
}
